services:
  checker:
    build:
      context: .
      dockerfile: docker/Dockerfile

    image: do-checker:2025110301
    container_name: do-checker

    env_file:
      - .env

    ports:
      - "${APP_HOST:-127.0.0.1}:${APP_PORT:-8888}:${APP_PORT:-8888}"

    volumes:
      - ./data:/data
      - ./logs:/logs
      - .:/app

    command: gunicorn -k gevent -w 4 --bind 0.0.0.0:${APP_PORT:-8888} --reload --access-logfile /dev/null server:app
