{% extends "base.html" %}

{% block content %}
  <h1 class="mb-2">DNS & Whois Checker</h1>

  <form method="post" action="{{ url_for('routes.launch_dns_run') }}" id="dns-check-form">

    <fieldset>
      <legend>Check Parameters</legend>
      <div class="form-group">
        <label for="dns-domains">Domain(s), one per line</label>
        <textarea name="domains" id="dns-domains" placeholder="example.com&#10;google.com" style="height: 100px;"></textarea>
      </div>
    </fieldset>

    <div class="row" style="justify-content: space-between; align-items: center;">
       <div>
          <button type="submit" id="run-dns-check-button">Run DNS check</button>
          </div>
    </div>
  </form>

  <div id="dns-results-container" class="mt-3">
  </div>
{% endblock %}
